<p id="notice"><%= notice %></p>

<p>
  <strong><%= @style.name %></strong>
</p>

<p>
  <%= @style.description %>
</p>

<p>
  <strong>Beers</strong>
  <table>
    <tbody>
        <% @style.beers.each do |beer| %>
            <tr>
                <td><%= link_to beer.name, beer %></td>
            </tr>
        <% end %>
    </tbody>
  </table>
</p>

<%= link_to 'Edit', edit_style_path(@style) %> |
<%= link_to 'Destroy', @style, method: :delete, data: { confirm: 'Are you sure?' } %>
